* {padding:0; margin:0;}
html,body {background:#808080;}
button,a {outline:none;}
.win {position:absolute; left:0; top:0; overflow:hidden; box-shadow:0 0 80px rgba(0,0,0,0.6); display:none;}
.side {width:120px; background:black; position:fixed; right:0; top:0; bottom:0; padding:0 16px;}
input {text-align:left; background:none; font-size:28px; color:white;}
input,button {width:120px; height:32px; line-height:32px; border:0; margin-top:10px; margin-bottom:10px;}
button {height:80px; line-height:80px; font-size:32px; font-weight:bold; background:#9f46e7; color:white; cursor:pointer;}
.win__loading,.win__canvas,.win__img {position:absolute; left:0; top:0;}

h3 {font-size:12px; color:white; margin-top:10px; font-weight:normal; color:#aaa;}

.win__img {z-index:1; background:#535353; border:0; transition:all 0.2s;}
.win__canvas {z-index:2; cursor:crosshair;}
.win__loading {font-size:64px; text-align:center; font-weight:bold; background:rgba(0,0,0,.8) url('../images/loading.svg') center 40% no-repeat; color:white; z-index:3; display:none;}

.win--jump .win__loading{display:block;}
.win--jump .win__img {filter:blur(10px);}


#side__timePx {
    height:48px; line-height:48px; background:#fff; color:#000; text-align:center;
}